*{
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.text {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
    background-size: 300%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 10s infinite linear;
}

#general {
    display: flex;
    justify-content: center;
}

.calculator {
    height: 400px;
    width: 300px;
    background: black;
}

.result {
    width: 89%;
    height: 15%;
    padding: 15px;
    margin-bottom: 20px;
    text-align: right;
    font-family:Impact,'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    outline: none;
    color: white;
    background: black;

}

#general input[type=button], input[type=reset] {
    width: 22%;
    padding: 18px;
    margin: 3px;
    font-family: 'roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
    border: 0;
    border-radius: 15%;
    color: black;
    cursor: pointer;
}

.operations {
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}